.conteiner-header {
    display: flex;
    justify-content: end;
    .button-navigate{
        border: 0;
        background: none;
        cursor: pointer;
        margin: 2% 10px 0px 10px;
        font-weight: 400;
        font-size: 16px;
    }
}