<div class="tutorial-details" *ngIf="tutorial">
    <h2>Tutorial Details</h2>
    <div>
      <label>Title:</label>
      <input type="text" [(ngModel)]="tutorial.title" />
    </div>
    <div>
      <label>Description:</label>
      <input type="text" [(ngModel)]="tutorial.description" />
    </div>
    <div>
      <label>Published:</label>
      <input type="checkbox" [(ngModel)]="tutorial.published" />
    </div>
    <button (click)="updateTutorial()">Update</button>
    <button (click)="deleteTutorial()">Delete</button>
  </div>
  <p *ngIf="!tutorial">No tutorial selected or it was deleted.</p>