<div class="add-tutorial" [@fadeInOut]>
    <h2>Добавить новый туториал</h2>
    <form (ngSubmit)="saveTutorial()">
      <div class="form-group">
        <label for="title">Название:</label>
        <input type="text" id="title" class="form-control" [(ngModel)]="tutorial.title" name="title" required>
      </div>
      <div class="form-group">
        <label for="description">Описание:</label>
        <textarea id="description" class="form-control" [(ngModel)]="tutorial.description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="published">Опубликовано:</label>
        <input type="checkbox" id="published" class="form-control" [(ngModel)]="tutorial.published" name="published">
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <p *ngIf="submitted">Туториал успешно добавлен!</p>
  </div>