
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #F5F5F5;
    
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

app-root {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0 auto;
    padding: 0 10%;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    app-root {
      padding: 0 5%;
    }
  }
  
  @media (max-width: 480px) {
    app-root {
      padding: 0 2%;
    }
  }

//   Стили для кастомного скролла 
/* Стили для скроллбара всего сайта */
html {
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1); /* Для Firefox */
  }
  
  /* Стили для скроллбара в WebKit-браузерах (Chrome, Safari, Edge) */
  body::-webkit-scrollbar {
    width: 12px; /* Ширина скроллбара */
  }
  
  /* Дорожка скроллбара */
  body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    backdrop-filter: blur(10px); /* Стеклянный эффект */
    border-radius: 10px; /* Скругление углов */
  }
  
  /* Ползунок скроллбара */
  body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5); /* Полупрозрачный цвет */
    border-radius: 10px; /* Скругление углов */
    backdrop-filter: blur(10px); /* Стеклянный эффект */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Легкая граница */
    transition: background 0.3s ease; /* Плавное изменение цвета */
  }
  
  /* Эффект при наведении на ползунок */
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7); /* Более яркий цвет */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
